%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "catcat", '/', class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        = link_to "Home", "/", class: 'nav-link'
      %li.nav-item
        = link_to "About", '/', class: 'nav-link'
      - if logged_in?
        %li.nav-item
          = link_to "User", user_path(current_user.id), class: 'nav-link'
        %li.nav-item
          = link_to "Log out", logout_path, class: 'nav-link'
      - else
        %li.nav-item
          = link_to "Log in", login_path, class: 'nav-link'
